<div class="outer">
    <div class="main">
        <div *ngIf="message" class="popup">
            <p [innerHTML]="message"></p>
            <button (click)="closeMessage()" class="popup-button">Close</button>
        </div>
        <div class="intro">
            <ng-content select="[title]"></ng-content>
            <ng-content select="[description]"></ng-content>
            <!-- <h2>Sign Up to Insights</h2>
            <p>
                The YGAM research programme will focus on the attitudes, thinking and behaviours of young people in relation to gambling and
                social gaming.
            </p> -->
        </div>
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form">
                    <input type="text" placeholder="Your Name" formControlName="nameControl" />
                    <input type="text" placeholder="Email Address" formControlName="emailControl" />
                    <br />
                    <div class="inner">
                        <span class="privacy">
                            <ng-content select="[privacy]"></ng-content>
                            <!-- Privacy Policy:* <br />By ticking here I am consenting to YGAM processing my personal data in accordance with
                            their Privacy Policy -->
                        </span>
                        <div class="">
                            <input type="checkbox" class="check" formControlName="check" />
                            <!-- <span class="checkmark"></span> -->
                        </div>

                        <button class="submit" type="submit" [disabled]="!form.valid || pending">Subscribe ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
